<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<include file="public:link"/>
	<link href="__CSS__/index.css" rel="stylesheet">
	<title>---</title>
</head>
<body>
	<div class="main">
		<div class="items item1"></div>
		<div class="items item2"></div>
		<div class="items item3"></div>
		<div class="items item4"></div>
		<div class="items item5"></div>
	</div>
	<div class="rigTap">
		<div class="taps active" data-num = 0 ><span class="glyphicon glyphicon-circle-arrow-up f14"></span></div>
		<div class="taps" data-num = 1 ><span class="glyphicon glyphicon-circle-arrow-down f14"></span></div>
		<div class="taps" data-num = 2 ><span class="glyphicon glyphicon-plus-sign f14"></span></div>
		<div class="taps" data-num = 3 ><span class="glyphicon glyphicon-circle-arrow-left f14"></span></div>
		<div class="taps" data-num = 4 ><span class="glyphicon glyphicon-circle-arrow-right f14"></span></div>
	</div>
	<script src="__JS__/index.js"></script> 
	<script>
		//判断是否为pc端
		function is_pc(){  
            var userAgentInfo = navigator.userAgent,
            	Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"),
            	flag = true;
            for (var i = 0; i < Agents.length; i++) {  
                if (userAgentInfo.indexOf(Agents[i]) > 0){ 
               	    flag = false; 
               	    break; 
                }
            }  
           return flag;  
		}
		is_pc()?index.scroll():index.touchFun();
		index.tapFun();
	</script>
</body>
</html>